/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

img {
    width: 100%;
    display: block;
}


/* 
    GENERAL
*/

#body {
    background-color: #DBDBD3;
    width: 100%;
    height: 100vh;
    align-content: center;
}

.my-background {
    width: 100%;
    height: 20vh;
    background: rgb(0,150,136);
    position: absolute;
    z-index: -1;
}

.my-container {
    width: 75%;
    height: 90vh;
    margin: 0px auto;
    border: 1px solid red;
    padding-top: 100px;
    display: flex;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#user {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
}

.user-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-name {
    flex-grow: 1;
    padding: 10px;
    font-weight: 400;
    font-size: 1.3rem;
}

.left i,
.right i {
    font-size: 1.3rem;
    padding: 10px;
    color: #B1B1B1;
}

.notifications {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #8EDAFC;

}

#bell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

#bell i{
    line-height: 30px;
    border-radius: 70px;
    color: #8EDAFC;
    background-color: #F2FBFF;
}

#notifications-text{
    flex-grow: 1;
}

#notifications-text p{
    margin-bottom: 0px;
}

#notifications-text a{
    color: #B1B1B1;
}

.search-bar {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
}

.search-bar #search-text {
    flex-grow: 1;
}

.search-bar #magnifying-glass i{
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}

.search-bar #search-text input,
.write-message #write-message-area input{
    width: 100%;
}

.contact-list {
    background-color: white;
    flex-grow: 1;
}

.contact-list li{
    list-style: none;
    padding: 10px;
    display: flex;
}




        /* RIGHT */
.chat-user {

    height: 70px;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;

}

.chat-selected-text {
    flex-grow: 1;
}

.chat-selected-text div {
    padding: 0px;
}

.chat-selected-text p {
    margin: 0px;
}

.chat-menu {
    display: flex;
}

.chat-room {
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
}

.write-message {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
}

.write-message #write-message-area {
    flex-grow: 1;
}


/* CHATROOM */

.recived {
    background-color: white;
}

.sent {
    background-color: #D5F9BA;
}

.contact-list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}







.my-container * {
    border: 1px dashed black;
}